.card-friend {
  display: flex;
  align-items: center;

  padding: .25em 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &>* {
    margin: 0 .25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card-friend-avatar {
  width: 2em;
  height: 2em;
  vertical-align: middle;

  border-radius: 50%;
}

.card-friend-name {
  height: 100%;
  flex-grow: 1;
}