@import "../composables.scss";

footer {
  display: flex;
  justify-content: space-between;
  height: 4em;
  align-items: center;
}

.footer-button {
  margin: 0 .125em;
  padding: .25em;

  color: var(--clr-ft);
  transition: all 0.2s ease-in;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    color: var(--clr-ac);
    transition: all 0.3s ease-out;
  }
}