@import "../breakpoints";
@import "../composables";

header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  align-items: center;
}

.header-link {
  display: inline-block;
  min-width: .5rem;
  margin: .5rem .25rem;
  text-align: center;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-title {
    @extend .header-link;
    padding: 0 .25rem;

    background-color: var(--clr-ac);
    color: var(--clr-bg);
    border: .25em solid var(--clr-ac);
    border-radius: .25em;
    font-weight: bold;
    text-decoration: none;
  }

  &-quarter {
    @extend .header-link;
    height: 1.5em;
    width: 1.5em;

    border: .25em solid transparent;
    border-radius: .25em;

    &:hover,
    &.active {
      background-color: var(--clr-ac);
      color: var(--clr-bg);
      border-color: var(--clr-ac);
    }
  }
}

.header-tray {
    margin-right: -.25em;
}

@media (min-width: $b-md) {
  .header-tray {
      margin-right: 0;
  }
}