{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "React": true
  },
  "rules": {
    "strict": 0,
    "prettier/prettier": "warn",
    "react/jsx-indent": ["error", 2, { "indentLogicalExpressions": true }],
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off",
    "react/no-unescaped-entities": "off",
    "no-undef": "off",
    "no-unused-vars": "warn"
  }
}