:root {
    --fnt-sans: "Noto Sans", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
    --fnt-serif: "Noto Serif", "Noto Serif CJK SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    --fnt-mono: "Sarasa Fixed SC", "Courier New", Courier, monospace;
}