@use 'colors';
@use 'fonts';
@import 'breakpoints';

body {
  line-height: 1.65;

  max-width: $b-md;
  margin: 0 auto;

  background-color: var(--clr-bg);
  color: var(--clr-ft);
  fill: var(--clr-ft);

  font-family: var(--fnt-sans);
  overflow: overlay;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-ac);
}

::selection {
  background-color: var(--clr-ac);
  color: var(--clr-bg);
}

// ! TEMP
a {
  color: var(--clr-ac);
  text-decoration: none;

  @media (hover: hover) {
    cursor: pointer;
  }
  
}

article {
  @import './templates/article.scss';
}
