:root {
  --font-sans: "Noto Sans", var(--custom-font-sans, sans-serif), "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Avenir Next", "Helvetica Neue", sans-serif;
    
  --font-serif: "Noto Serif", var(--custom-font-serif, serif), "Noto Serif", "New York", "Roboto Slab", Cambria, Georgia, Times, "Times New Roman", serif;

  --font-mono: "JetBrains Mono", "SF Mono", "Roboto Mono", Menlo, "Cascadia Code", Consolas, monospace;
}

html:not(.dark) {
  --color-accent:     var(--accent-light-accent, #003A70);
  --color-secondary:  var(--accent-light-secondary, #61649f);
  --color-background: #F5F5F5;
  --color-foreground: #1D252D;
  --color-dim:        #737C7B;
}

html.dark {
  --color-accent:     var(--accent-dark-accent, #FFE900);
  --color-secondary:  var(--accent-dark-secondary, #f86b1d);
  --color-background: #0F1419;
  --color-foreground: #9DA5B4;
  --color-dim:        #595959;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: auto;
  overflow: overlay;

  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

body {
  height: 100%;
  margin: auto;
  padding: 0;
  max-width: 75ch;
}

/* svg {
  width: 1.25em;
  height: 1.25em;
  display: inline;
  vertical-align: sub;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: var(--color-accent);
  opacity: 0.75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border: solid var(--color-accent) 1px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-background);
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
  font-weight: 700;
}

button {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.prose {
  overflow-x: hidden;
}

.prose * {
  overflow-y: hidden;
  overflow-x: auto;
}

/* .transition-lively {
  -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, filter, backdrop-filter;
  -o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-box-shadow, transform, -webkit-transform, filter, backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}

.transition-lively:hover {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
 */