/*? Typeface Variables */
html[data-font-post-content="sans"] #md {
  font-family: var(--font-sans);
}

html[data-font-post-content="serif"] #md {
  font-family: var(--font-serif);
}

html[data-font-post-heading="sans"] #md :is(h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
}

html[data-font-post-heading="serif"] #md :is(h2, h3, h4, h5, h6) {
  font-family: var(--font-serif);
}

#md aside {
  font-family: var(--font-sans);
}

#md pre,
#md code,
#md kbd {
  font-family: var(--font-mono);
}

html[data-font-post-content="sans"] #md :is(i, em) {
  font-family: var(--font-custom-sans, var(--font-default-sans)), "LXGW WenKai", var(--font-custom-sans-cjk, var(--font-default-sans-cjk)), sans-serif;
  font-synthesis-style: none;
}

html[data-font-post-content="serif"] #md :is(i, em) {
  font-family: var(--font-custom-serif, var(--font-default-serif)), "LXGW WenKai", var(--font-custom-serif-cjk, var(--font-default-serif-cjk)), sans-serif;
  font-synthesis-style: none;
}
