---
import LayoutEmpty from "src/layouts/LayoutEmpty.astro";

import PostInfo, { timeDesc } from "post:info";
import PostInfoFull from "src/components/PostInfoFull.astro";
import BaseHeadline from "src/components/BaseHeadline.astro";

const description = `Yixuan Wang's academic writings, including posts, project intros and short thoughts.`;
---

<LayoutEmpty>
  <Fragment slot="head">
    <title>Academic Writings | Yixuan Wang</title>
    <meta property="og:title" content="Yixuan Wang's Academic Writings" />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
  </Fragment>
  <BaseHeadline headline="Academia Writings" />
  <div class="mb-3 w-full flex flex-row gap-2 px-3 py-2 items-center rounded-full bg-one-back">
    <span class="font-bold text-one-front flex-1">Yixuan Wang</span>
    <a class="transition-lively text-one-front hover:text-one" title="About" href="https://am.yixuan-wang.site" aria-label="About" rel="noopener" target="_blank">
      <div class="i-mdi-information"></div>
    </a>
  </div>
  <section class="flex flex-col gap-3">
    {timeDesc.filter(key => PostInfo[key].meta.taxonomy.keywords?.includes("academia")).map(key => <PostInfoFull info={PostInfo[key]} />)}
  </section>

  <div role="none" class="mb-10"></div>
</LayoutEmpty>

<!-- <style>
#academia-social-link a {
  @apply ;
}
</style> -->