---
import LayoutDefault from "src/layouts/LayoutDefault.astro";
import PostInfo, { timeDesc } from "post:info";
import PostInfoBrief from "src/components/PostInfoBrief.astro";
import { Collector } from "src/utils/collector";
import { getYear } from "date-fns";
import { decideTimeFromStatus } from "~/utils/time";

const years = new Collector<string, string[], string>(
  () => [],
  (container, value) => container.push(value),
);
timeDesc.forEach(key =>
  years.add(getYear(decideTimeFromStatus(PostInfo[key].meta)).toString(), key),
);
---

<LayoutDefault
  title="Archive"
  description="Archive of Yixuan Wang's blog posts."
  noComments={true}
>
  <div class="flex flex-col gap-8">
    {
      Array.from(years.collector.keys()).map(year => (
        <section>
          <h2 class="text-3xl font-bold text-one-front">{year}</h2>
          <p class="pb-4 font-mono text-two-front">{years.collector.get(year)!.length}</p>
          <div class="flex flex-col gap-2">
            {years.collector.get(year)!.map(key => (
              <PostInfoBrief info={PostInfo[key]} />
            ))}
          </div>
        </section>
      ))
    }
  </div>
</LayoutDefault>
