---
export interface Props {
  title: string
  description: string
  noSuffix?: boolean
}

const { description, title, noSuffix } = Astro.props;
const fullTitle = noSuffix ? title : `${title} | Pak`;
---

<title>{ fullTitle }</title>
<meta property="og:title" content={fullTitle} />
{description
  ? (
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    )
  : <></>
}
