
<article 
  class="card flex flex-col gap-1 @hover:bg-two-back transition-lively"
  role="link"
>
  <img class="rounded-1/2 w-8 h-8 row-[1/3]" src="https://avatars.githubusercontent.com/u/103046828?s=128&v=4" alt="Logo of Project Travelling" />
  <h2 class="font-mono font-italic transition-lively">Travelling</h2>
  <div class="flex flex-row gap-1.5 items-center">

    <a
      class="text-one-front @hover-text-one transition-lively"
      title="Project Travelling" href="https://www.travellings.cn/go.html" rel="noopener" target="_blank"
    >
      <div class="i-custom-travelling"></div>
    </a>
  </div>
</article>