---
import ColorPaletteButton from "src/components/ColorPaletteButton.svelte";
import Hover from "src/components/Hover.astro";
import type { ColorPaletteSetting } from "src/logic/color-palette";
import DEFAULT_COLOR_PALETTE from "src/logic/color-palette-default.json";

interface PrebuildColorPalette extends ColorPaletteSetting {
  name: string
}

const prebuiltColorPalettes: PrebuildColorPalette[] = [
  {
    name: "Passion",
    one: {
      mode: "oklch",
      l: 0.5766,
      c: 0.195,
      h: 23.81,
    },
    two: {
      mode: "oklch",
      l: 0.562,
      c: 0.165,
      h: 8.58,
    },
  },
  {
    name: "Courage",
    one: {
      mode: "oklch",
      l: 0.6926,
      c: 0.191,
      h: 44.02,
    },
    two: {
      mode: "oklch",
      l: 0.6458,
      c: 0.172,
      h: 32.27,
    },
  },
  {
    name: "Joy",
    one: {
      mode: "oklch",
      l: 0.8222,
      c: 0.169,
      h: 80.91,
    },
    two: {
      mode: "oklch",
      l: 0.8775,
      c: 0.166,
      h: 93.16,
    },
  },
  {
    name: "Renewal",
    one: {
      mode: "oklch",
      l: 0.5676,
      c: 0.138,
      h: 148.33,
    },
    two: {
      mode: "oklch",
      l: 0.566,
      c: 0.148,
      h: 122.67,
    },
  },
  {
    name: "Tranquility",
    one: {
      mode: "oklch",
      l: 0.6967,
      c: 0.122,
      h: 217.58,
    },
    two: {
      mode: "oklch",
      l: 0.6796,
      c: 0.109,
      h: 196.34,
    },
  },
  {
    name: "Wisdom",
    ...DEFAULT_COLOR_PALETTE as ColorPaletteSetting,
  },
  {
    name: "Creativity",
    one: {
      mode: "oklch",
      l: 0.6138,
      c: 0.179,
      h: 296.66,
    },
    two: {
      mode: "oklch",
      l: 0.5898,
      c: 0.172,
      h: 276.38,
    },
  },
];
---

<div class="px-2 py-1 flex flex-row gap-2 items-center">
  {
    prebuiltColorPalettes.map((color, index) => (
      <Hover>
        <ColorPaletteButton
          slot="handle"
          client:idle
          palette={color}
          title={color.name}
        />
        <div
          slot="content"
          class="px-1.5 py-1 rounded bg-two-front text-two-back text-sm"
        >
          <span>{color.name}</span>
        </div>
      </HoverPop>
    ))
  }
</div>
