---
import { allSeries, mapCategorySeries } from "post:info";

export interface Props {
  category: string
}

const { category } = Astro.props;
---

<section class="flex flex-row flex-wrap gap-2">
  {Array.from(mapCategorySeries[category]?.keys() ?? []).map(series => (
    <div class="inline-flex gap-0.5">
      <span class="text-one-front ub-one-front border-b-dotted @hover-text-one @hover-border-two inline-chip transition-lively">
        <a href={new URL(`${import.meta.env.BASE_URL}series/${series}`, Astro.site)}>{series}</a>
      </span>
      <span class="text-sm font-mono relative bottom-1">{allSeries[series]!.length}</span>
    </div>
  ))}
</section>
