---
import TheComment from "src/components/TheComment.svelte";
import BaseStorage from "src/components/BaseStorage.svelte";
---

<BaseStorage client:idle targetSelector="#the-bottom-sheet" filled={true}>
  <Fragment slot="storage">
    <section
      id="comment-container"
      class="md:mx-3 p-4 rounded-t-4 relative flex flex-col gap-3 h-[60vh] md:h-[50vh] overflow-y-auto overflow-y-overlay"
    >
      <h3 class="flex flex-row items-center gap-1 text-xl">
        <div class="i-mdi-comment"></div>
        <span class="text-xl font-bold">Comments</span>
      </h3>
      <button
        name="close"
        title="Close"
        class="absolute top-4 right-3"
        onclick="this.dispatchEvent(new Event('component-storage:push',{bubbles:true}))"
      ><div class="i-mdi-close transition-lively @hover-text-one"></div></button>
      <TheComment client:visible />
    </section>
  </Fragment>
  <Fragment slot="handle">
    <button
      title="Comments"
      onclick="this.dispatchEvent(new Event('component-storage:toggle',{bubbles:true}))"
    ><div class="i-mdi-comment"></div></button>
  </Fragment>
</BaseStorage>

<style>
#comment-container {
  background-color: oklch(from var(--color-one) 25% calc(c * 0.25) h);
  color: oklch(from var(--color-one) 90% calc(c * 0.75) h);
  border-style: solid;
  border-color: var(--color-one-front);
  border-width: 2px 2px 0 2px;
}
</style>
