@import '../breakpoints';

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    height: 100vh;

    padding: 0 20px;

    @media (min-width: $b-lg) {
        padding: 0 0;
    }
}