---
import "src/styles/main.css";
import "src/styles/font.css";
---

<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />


    <!-- Color palette and typesetting -->
    <style is:inline id="style-color-palette"></style>
    <script src="src/logic/init-page"></script>
    <meta name="giscus:backlink" content={Astro.url}>
    
    <slot name="head">
      <title>Pak</title>
      <meta name="description" content="Yixuan Wang's personal blog." />
    </slot>
  </head>
  <body class="cloak">
    <div id="app">
      <slot />
    </div>
    <div style="position:sticky;bottom:0;">
      <div id="the-bottom-sheet"></div>
    </div>
  </body>
</html>
