---
import TheFooter from "src/components/TheFooter.astro";
import TheHeader from "src/components/TheHeader.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  noComments?: boolean
  noFab?: boolean
  hasScrollToTop?: boolean
}

const { noComments, noFab, hasScrollToTop } = Astro.props;
---

<BaseLayout>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <TheHeader />
  <div id="the-main">
    <slot />
  </div>
  <TheFooter {noComments} {noFab} {hasScrollToTop} />
</BaseLayout>
